*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    letter-spacing: 1px;
}
.wrap{
    overflow: hidden;
}
.container{
    width: 60%;
    margin: 0 auto;
}
#logo img, h1, .subHeading{
    font-family: 'Gruppo', cursive;
}

/* HEADER */
header{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}
#logo{
    float: left;
    color: white;
}
#logo img{
    width: 60px;
    padding-top: 5px;
}
nav{
    float: right;
    vertical-align: middle;
    margin-top: 5px;
}
nav a{
    padding: 15px !important;
    color: rgb(255, 255, 255);
    text-decoration: none !important;
    line-height: 50px !important;
    font-family: 'Gruppo', cursive;
}
nav a:hover{
    color: rgb(196, 238, 248);
    transition: 0.5s;
}
.navFocus{
    color: rgb(117, 214, 238);
}
/* HEADING */
#top{
    background: url(img/pexels-victor-freitas-2261477.jpg);
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    background-size: cover;
    text-align: center;
    padding: 120px 0 80px 0 !important;
}
#top h1{
    color: white;
    font-size: 40px;
    margin-bottom: 20px !important;
}
#top p{
    color: rgb(196, 238, 248);
    font-size: 14px;
}
.mainContents{
    margin-top: 60px;
    margin-bottom: 80px;
}
/* HOME MAIN */
#homeContents .container{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 150px;
    width: 700px;
}
.homeMenu a{
    display: block;
    color: rgb(154, 154, 154);
    text-decoration: none;
    padding: 15px 0;
}
.homeMenu a:hover{
    color: black;
    transition: 0.5s;
    text-decoration: none;
}
.subHeading{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(112, 112, 112);
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

/* ADD&EDIT PAGES */
.addEditForm{
    width: 50%;
    margin: 0 auto;
}
.addEditForm label{
    padding-top: 10px;
    padding-bottom: 1px;
    margin-right: 15px;
    font-size: 15px;
    color: rgb(154, 154, 154);
}
.addEditForm input, .addEditForm_dd, .addEditForm textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    resize: none;
}
.addEditForm input:focus{
    border: 1px solid rgb(67, 67, 67);
    outline: none;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}
.addEditForm_dd:focus{
    border: 1px solid rgb(67, 67, 67);
    outline: none;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}
.addEditForm textarea:focus{
    border: 1px solid rgb(67, 67, 67);
    outline: none;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
}
.grid-container {
    display: grid;
    grid-template-columns: 30% auto;
    margin-bottom: 30px;
}
.grid-item {
    padding: 10px 0;
}
.ed_label{
    font-size: 15px;
    color: rgb(154, 154, 154);
}
.ed_info{
    font-size: 15px;
    color: black;
}
.fBtn{
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
    margin-right: 10px;
    border: 1px solid rgb(67, 67, 67);
    border-radius: 2px;
    font-family: 'Gruppo', cursive;
    font-size: 15px;
    background-color: rgb(67, 67, 67);
    color: white;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
}
.fBtn:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    transition: 0.5s;
    text-decoration: none;
}
.fBtn:focus{
    outline: none;
}
.fBtn:active{
    background-color: rgb(67, 67, 67);
    color: white;
    transition: 0.1s;
}
.cancelB{
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    font-family: 'Gruppo', cursive;
    font-size: 15px;
    color: rgb(67, 67, 67);
    text-decoration: underline;
    border-radius: 2px;
}
.cancelB:hover{
    display: block;
    text-align: center;
    margin: 10px auto;
    color: rgb(165, 42, 42);
    background-color: rgba(165, 42, 42, 0.1);
    text-decoration: none;
    transition: 0.5s;
}

/* UPDATE INCIDENT */
.stb{
    display: block;
    text-align: center;
}

/* INCIDENT MANAGER */
#Incident_filter{
    margin-top: 20px;
}
.ifb{
    display: inline-block;
    padding: 10px;
    color: rgb(154, 154, 154);
    text-decoration: none;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0);

}
.ifb:hover{
    color: black;
    transition: 0.5s;
    text-decoration: none;
}
.selected{
    color: black;
    font-weight: bold;
    border-bottom: 1.5px solid rgb(196, 238, 248);
}

/* DELETE */
#deleteMessage{
    margin: 50px 0 20px 0;
    color: brown;
}

/* ABOUT */
.aboutText{
    line-height: 30px;
    color: rgb(112, 112, 112);
}

/* REGISTRATION DETAILS */
.registration_customerName{
    font-size: 15px;
    display: inline-block;
}
#rc_a{
    padding-right: 5px;
}
.products_registration{
    width: 100%;
    
}
.products_registration:focus{
    border: 1px solid rgb(67, 67, 67);
    outline: none;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}
.products_registration select{
    padding: 15px;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
}
select:required:invalid {
    color: rgb(160, 160, 160);
}

/* TABLE */
#addNewBtn{
    text-align: center;
}
.font{
    font-family: 'Gruppo', cursive;
    color: rgb(154, 154, 154);
    font-size: 13px;
}
.table-wrapper {
    margin: 30px auto;
    padding: 20px;
}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border: none;
    padding: 20px 10px 15px 10px;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.edit {
    color: #3d3c3c;
}
table.table td a.delete {
    color: #3d3c3c;
}
table.table td i {
    font-size: 19px;
}
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}
tbody tr:nth-child(odd) {
    background-color: rgb(240, 240, 240);
}
tbody tr:nth-child(even) {
    background-color: rgb(250, 250, 250);
}
table thead{
    border-bottom: 1px solid rgb(154, 154, 154);
    background-color: rgb(250, 250, 250);
}
table{
    border-radius: 2px;
}

/*  ERROR HANDLING  */
.dd_error_message, .table_empty_message{
    color: brown;
    font-size: 12px;
    text-decoration: none;
}
.form_input_error_message{
    display: inline;
    color: brown;
    font-size: 12px;
    text-decoration: none;
}

/* For backend: Please use this class for instruction page11: 
   Add custom CSS that uses a different border and background
   for the <input> elements that contain invalid data */
.error_input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid brown;
    outline: none;
    background-color: rgba(165, 42, 42, 0.1)
}