@{
    ViewBag.Title = "About";
    ViewBag.Heading = "About Our Team at SportsPro";
    ViewBag.Desc = "What do we do?";
}


<!DOCTYPE html>
<html lang="en">

<body>
    <div class="wrap">
        <main>

            <div class="mainContents">
                <div class="container">
                    <h2 class="subHeading">SportsPro Technical Support</h2>
                    <p class="aboutText">
                        SportsPro Technical Support thrives in providing excellent maintenance and customer
                        support for all your sport's related system. We are not only here to fix any software
                        or hardware related issues, but to provide exceptional customer service.
                    </p>
                    <br>
                    <p class="aboutText"><b>We are here to ensure your technical support needs are met in an efficent and user-friendly way.</b></p>
                </div>
            </div>



            <div class="container">
                <div class="row">



                    <br />



                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <img src="img/new1.jpeg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                        <img src="img/new2.jpeg" class="img-responsive">
                    </div>

                    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
                        <img src="img/new3.jpeg" class="img-responsive">
                    </div>


                </div>
            </div>
            </section>




        </main>
    </div>
</body>
</html>
