@model Customer
@{
    ViewBag.Title = "Delete " + Model.Name;
}

<h2>Confirm Deletion</h2>
<h3>@Model.Name</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerId"/>

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
