@model Customer
@{

    ViewBag.Title = "Edit Customer";
    ViewBag.Heading = "Edit Customer";
    ViewBag.Desc = "Manage customer information";

}

<div class="container">
    <form class="addEditForm" asp-action="Edit" method="post">
        <h2 class="subHeading">Customer information</h2>
        <div>
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Address">Address</label>
            <input asp-for="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="City">City</label>
            <input asp-for="City" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Province">Province</label>
            <input asp-for="Province" />
            <span asp-validation-for="Province" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="PostalCode">Postal Code</label>
            <input asp-for="PostalCode" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="CountryId">Country</label>
            <select asp-for="CountryId" class="form-control">
                <option value="">Select a Country</option>
                @foreach (Country c in ViewBag.Countries)
                {
                    <option value="@c.CountryId">@c.Name</option>
                }
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" placeholder="e.g. username@domain.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Phone">Phone</label>
            <input type="tel" asp-for="Phone" placeholder="e.g 123-123-1234" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div>
            <input type="hidden" asp-for="CustomerId" />
            <button class="fBtn" type="submit">@ViewBag.Action</button>
            <a class="fBtn" asp-controller="Customer" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>
