@model List<Customer>
@{
    ViewBag.Title = "Customers List";
}

<tbody>
    @foreach (var customer in Model)
    {
      <tr>
          <td>@customer.Name</td>
          <td>
              <a asp-controller="Customer" asp-action="Edit" asp-route-id="@customer.CustomerId">Edit</a>
          </td>
          <td>
              <a asp-controller="Customer" asp-action="Delete" asp-route-id="@customer.CustomerId">Delete</a>
          </td>
      </tr>  <br /> 
    }
</tbody>
